/* Personal overrides for Github Dark style
 * https://userstyles.org/styles/37035/github-dark
*/

/* Throughout, I use hacks like `html body` or `body .class` to increase specificity */

/* Remove dumb checkered background pattern and let the underlying background color show */
html body {
    background-image: inherit !important;
    background-clip: inherit !important;
    background-origin: inherit !important;
    background-attachment: inherit !important;
    background-repeat: inherit !important;
    background-size: inherit !important;
    background-position: inherit !important;
}

/* git diff line highlights: overridden because I'm colorblind */

/* git diff line additions (dark green) */
.blob-code.blob-code-addition,
.blob-num.blob-num-addition,
.prose-diff .changed ins,
.prose-diff .changed ins code,
.prose-diff .changed ins pre,
.prose-diff .changed .added,
.prose-diff > .markdown-body ins pre,
.prose-diff > .markdown-body ins code,
.prose-diff > .markdown-body ins > div,
.prose-diff > .markdown-body ins > p {
    background: rgba(0, 92, 72, 0.5) !important;
}

/* git diff line deletions (dark red) */
.blob-code.blob-code-deletion,
.blob-num.blob-num-deletion,
.prose-diff > .markdown-body .changed del,
.prose-diff > .markdown-body .changed del pre,
.prose-diff > .markdown-body .changed del code,
.prose-diff > .markdown-body .changed del > div,
.prose-diff > .markdown-body .changed .removed,
.prose-diff > .markdown-body .changed .removed pre,
.prose-diff > .markdown-body .changed .removed code,
.prose-diff > .markdown-body .changed .removed > div,
.CodeMirror-linebackground.conflict-background,
.conflict-gutter-marker,
.conflict-background + .CodeMirror-gutter-wrapper .CodeMirror-linenumber {
    background: rgba(109, 0, 13, 0.55) !important;
}

/* End git diff line highlights */

/* remove custom hover highlight in code and diffs (just set it to the same colors) */

/* highlights on regular lines */
body .highlight:not(.lines) tr:not(.inline-comments):not(.blob-expanded):not(.js-expandable-line):hover td.blob-code,
body .highlight:not(.lines) tr:not(.inline-comments):not(.blob-expanded):not(.js-expandable-line):hover td.blob-num {
    background: rgb(20, 20, 20) !important;
}

/* highlights on expanded context lines */
body .highlight:not(.lines) tr.blob-expanded:not(.inline-comments):hover td.blob-code,
body .highlight:not(.lines) tr.blob-expanded:not(.inline-comments):hover td.blob-num {
    background: rgba(50, 50, 50, .5) !important;
}

/* highlights on selected lines */
body .highlight:not(.lines) tr:not(.inline-comments):hover td.selected-line.blob-code:not(.line-age),
.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code,
body .highlight:not(.lines) tr:not(.inline-comments):hover td.selected-line.blob-num:not(.line-age),
.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num {
    background: rgba(85, 85, 85, .4) !important;
}

/* highlights on added/removed lines */
/* #files is a specificity hack */
#files .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-addition:not(.line-age),
#files .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-addition:not(.line-age) {
    background: rgba(0, 92, 72, 0.5) !important;
}
#files .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-deletion:not(.line-age),
#files .highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-deletion:not(.line-age) {
    background: rgba(109, 0, 13, 0.55) !important;
}

/* custom hover highlight end */


/* Fix inline diff highlights to match new line highlight colors */
.blob-code-addition .x,
.highlight .blob-code-addition .x {
    background: rgba(88, 121, 79, 0.5) !important;
}
.blob-code-deletion .x,
.highlight .blob-code-deletion .x {
    background: rgba(155, 103, 109, 0.5) !important;
}

/* End inline diff highlights */

/* Override the shade of green in the "checks passed" donut chart so I can distinguish it from the red better (I'm colorblind) */
.donut-chart > .expected,
.donut-chart > .pending {
    fill: #c4ef05 !important;
}

/* Github API docs syntax highlighting is otherwise unreadable on a dark background */
code .nt {
    color: #4078c0;
}

/* They removed sticky headers for files, but I like them */
@supports (position: sticky) or (position: -webkit-sticky) {
    .pull-request-tab-content .diff-view .file-header {
        position: sticky !important;
        position: -webkit-sticky !important;
        top: 40px !important;
        z-index: 6 !important;
    }
    .pull-request-tab-content .file-header {
        padding: 1px 10px !important;
    }
    .pull-request-tab-content .diff-view .file-actions,
    .pull-request-tab-content .diff-view .file-info {
        margin-top: -1px !important;
    }
    /* below element is queried from GitHub's js for the scroll offset */
    /* see https://github.com/StylishThemes/GitHub-Dark/issues/598 */
    .js-sticky-offset-scroll {
        height: 72px !important;
    }
    .gh-header-sticky.is-stuck .sticky-content .mt-3 {
        margin: 5px !important;
    }
    .gh-header .gh-header-sticky.is-stuck + .gh-header-shadow {
        height: 40px !important;
    }
}
