<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.andrew.scriptfilteroutput</string>
	<key>category</key>
	<string>Getting Started</string>
	<key>connections</key>
	<dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Andrew Pepperrell</string>
	<key>description</key>
	<string>Alfred's script filter object is extremely powerful, and gives you control over the results displayed in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Getting Started - Script Filter Output</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jsonformat</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#
# Alfred Script Filter JSON format
#
# This example demonstrates all fields available for populating results.
#
# For an in-depth explanation, use the (?) help button to the bottom left.
#

cat &lt;&lt; EOB
{"items": [

	{
		"uid": "desktop",
		"type": "file",
		"title": "Desktop",
		"subtitle": "~/Desktop",
		"arg": "~/Desktop",
		"autocomplete": "Desktop",
		"icon": {
			"type": "fileicon",
			"path": "~/Desktop"
		}
	},

	{
		"valid": false,
		"uid": "flickr",
		"title": "Flickr",
		"icon": {
			"path": "flickr.png"
		}
	},

	{
		"uid": "image",
		"type": "file",
		"title": "My holiday photo",
		"subtitle": "~/Pictures/My holiday photo.jpg",
		"autocomplete": "My holiday photo",
		"icon": {
			"type": "filetype",
			"path": "public.jpeg"
		}
	},

	{
		"valid": false,
		"uid": "alfredapp",
		"title": "Alfred Website",
		"subtitle": "https://www.alfredapp.com/",
		"arg": "alfredapp.com",
		"autocomplete": "Alfred Website",
		"quicklookurl": "https://www.alfredapp.com/",
		"mods": {
			"alt": {
				"valid": true,
				"arg": "alfredapp.com/powerpack",
				"subtitle": "https://www.alfredapp.com/powerpack/"
			},
			"cmd": {
				"valid": true,
				"arg": "alfredapp.com/powerpack/buy/",
				"subtitle": "https://www.alfredapp.com/powerpack/buy/"
			},
		},
		"text": {
			"copy": "https://www.alfredapp.com/ (text here to copy)",
			"largetype": "https://www.alfredapp.com/ (text here for large type)"
		}
	}

]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string>Generate results into Alfred from JSON</string>
				<key>title</key>
				<string>Script Filter JSON format</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>xmlformat</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#
# Alfred Script Filter XML format
#
# This example is here for completeness. It is recommended that you
# return JSON from your script filters for the highest performance.
#
# For an in-depth explanation, use the (?) help button to the bottom left.
#
# Added to XML format for Alfred 3: &lt;quicklook&gt; and &lt;mod/&gt;
#

cat &lt;&lt; EOB
&lt;?xml version="1.0"?&gt;
&lt;items&gt;

&lt;!--
  Example of using icon type 'fileicon' to load the file icon directly.
  This item is of type "file" which means it will be treated as a file in
  Alfred's results, so can be actioned and revealed in finder.
  Autocomplete sets what will complete when the user autocompletes.
--&gt;

  &lt;item uid="desktop" arg="~/Desktop" valid="YES" autocomplete="Desktop" type="file"&gt;
    &lt;title&gt;Desktop&lt;/title&gt;
    &lt;subtitle&gt;~/Desktop&lt;/subtitle&gt;
    &lt;icon type="fileicon"&gt;~/Desktop&lt;/icon&gt;
  &lt;/item&gt;

&lt;!--
  Example of loading an icon from the Workflow's folder.
  This item is set as valid no, which means it won't be actioned
--&gt;

  &lt;item uid="flickr" valid="no" autocomplete="flickr"&gt;
    &lt;title&gt;Flickr&lt;/title&gt;
    &lt;icon&gt;flickr.png&lt;/icon&gt;
  &lt;/item&gt;

&lt;!--
  Example of using icon type 'filetype' to load the icon for the file type.
  This item is of type "file" which means it will be treated as a file in
  Alfred's results, so can be actioned and revealed in finder.
--&gt;

  &lt;item uid="image" autocomplete="My holiday photo" type="file"&gt; 
    &lt;title&gt;My holiday photo&lt;/title&gt; 
    &lt;subtitle&gt;~/Pictures/My holiday photo.jpg&lt;/subtitle&gt; 
    &lt;icon type="filetype"&gt;public.jpeg&lt;/icon&gt; 
  &lt;/item&gt;

&lt;!--
  Example of using of the new XML features from Alfred 2.3 onwards. The
  ability to define some dynamic alternative modifier subtexts as well
  as define the text used for ⌘C copying and ⌘L large type.

  Subtitle modifiers can be shift, fn, ctrl, alt, cmd and will only show
  the relevant modified output connection is made.
--&gt;

  &lt;item uid="home" arg="~/" valid="NO" autocomplete="Home" type="file"&gt;
    &lt;title&gt;Home Folder&lt;/title&gt;
    &lt;icon type="fileicon"&gt;~/&lt;/icon&gt;
    &lt;subtitle&gt;Home folder ~/&lt;/subtitle&gt;
    &lt;subtitle mod="fn"&gt;Subtext when fn is pressed&lt;/subtitle&gt;
    &lt;subtitle mod="ctrl"&gt;Subtext when ctrl is pressed&lt;/subtitle&gt;
    &lt;subtitle mod="alt"&gt;Subtext when alt is pressed&lt;/subtitle&gt;
    &lt;subtitle mod="cmd"&gt;Subtext when cmd is pressed&lt;/subtitle&gt;
    &lt;quicklookurl&gt;https://www.alfredapp.com/&lt;/quicklookurl&gt;
    &lt;mod key="shift" subtitle="New subtext when shift is pressed" valid="yes" arg="shiftmod"/&gt;
    &lt;text type="copy"&gt;Text when copying&lt;/text&gt;
    &lt;text type="largetype"&gt;Text for LargeType&lt;/text&gt;
  &lt;/item&gt;

&lt;/items&gt;

EOB</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Generate results into Alfred from XML</string>
				<key>title</key>
				<string>Script Filter XML Format</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0B25B88F-4243-4E75-983B-36D1C96F4E94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>0B25B88F-4243-4E75-983B-36D1C96F4E94</key>
		<dict>
			<key>note</key>
			<string>XML is still supported for legacy workflows, and has been updated to support the new parameters.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<dict>
			<key>note</key>
			<string>Alfred 3 now supports JSON as the Script Filter output. This is the recommended output.</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
