<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.andrew.gettingstarted.advancedscriptfilters</string>
	<key>connections</key>
	<dict>
		<key>80324092-7E7E-45BB-A7A8-672193B8AB46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CD0D56D-79EE-4504-9D82-FB59EA00A61D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BF0B269-ABA5-497E-9318-67DD9C95E382</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85074F03-8B76-454E-BFD1-085362581485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B500F53-4041-4904-8162-015DEDE7DD46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CD0D56D-79EE-4504-9D82-FB59EA00A61D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3E29DF5-EAEC-4E27-BBE6-A7FF6FCD4824</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85074F03-8B76-454E-BFD1-085362581485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Pepperrell</string>
	<key>description</key>
	<string>Re-running script filters automatically, setting and using script session variables</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Advanced Script Filters - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jvar</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>COUNTER=$((counter + 1));

cat &lt;&lt; EOB
{

"variables": {
	"counter": $COUNTER
},

"items": [
	{
		"title": "Variable Counter",
		"subtitle": "This script has run $COUNTER times this session",
		"arg": "Script run $COUNTER times"
	}

]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type an argument and watch the counter increment</string>
				<key>title</key>
				<string>Variable Counter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9B500F53-4041-4904-8162-015DEDE7DD46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jtimer</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>TIMER=$((timer + 1));

cat &lt;&lt; EOB
{

"rerun" : 1,

"variables": {
	"timer": $TIMER
},

"items": [
	{
		"title": "Timer",
		"subtitle": "Time Elapsed: $TIMER"
	}

]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Simple Timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8BF0B269-ABA5-497E-9318-67DD9C95E382</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:timer} seconds</string>
				<key>title</key>
				<string>Timer stopped</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>85074F03-8B76-454E-BFD1-085362581485</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Output from Script: '{query}'
Variables: {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>8CD0D56D-79EE-4504-9D82-FB59EA00A61D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xvar</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>COUNTER=$((counter + 1));

cat &lt;&lt; EOB
&lt;?xml version="1.0"?&gt;
&lt;output&gt;

  &lt;variables&gt;
    &lt;variable name="counter"&gt;$COUNTER&lt;/variable&gt;
  &lt;/variables&gt;

  &lt;items&gt;
    &lt;item arg="Script run $COUNTER times"&gt;
      &lt;title&gt;Variable Counter&lt;/title&gt;
      &lt;subtitle&gt;This script has run $COUNTER times this session&lt;/subtitle&gt;
    &lt;/item&gt;
  &lt;/items&gt;

&lt;/output&gt;
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type an argument and watch the counter increment</string>
				<key>title</key>
				<string>Variable Counter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>80324092-7E7E-45BB-A7A8-672193B8AB46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xtimer</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>TIMER=$((timer + 1));

cat &lt;&lt; EOB
&lt;?xml version="1.0"?&gt;
&lt;output&gt;

  &lt;rerun&gt;1&lt;/rerun&gt;

  &lt;variables&gt;
    &lt;variable name="timer"&gt;$TIMER&lt;/variable&gt;
  &lt;/variables&gt;

  &lt;items&gt;
    &lt;item&gt;
      &lt;title&gt;Timer&lt;/title&gt;
      &lt;subtitle&gt;Time Elapsed: $TIMER&lt;/subtitle&gt;
    &lt;/item&gt;
  &lt;/items&gt;

&lt;/output&gt;
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Simple Timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D3E29DF5-EAEC-4E27-BBE6-A7FF6FCD4824</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Expanding on the "Script Filter Output" getting started workflow, this workflow demonstrates a few advanced concepts.

An array of variables can be passed out of the script filter. This is useful for two things. Firstly, these variables will be passed out of the script filter's outputs when actioning a result. Secondly, any variables passed out of a script will be passed back in as environment variables when the script is run within the same session. This can be used for very simply managing state between runs as the user types input or when the script is set to re-run after an interval.

Scripts can be set to re-run automatically after an interval using the 'rerun' key with a value of 0.1 to 5.0 seconds. The script will only be re-run if the script filter is still active and the user hasn't changed the state of the filter by typing and triggering a re-run.</string>
	<key>uidata</key>
	<dict>
		<key>80324092-7E7E-45BB-A7A8-672193B8AB46</key>
		<dict>
			<key>note</key>
			<string>-- XML Version --
Same as Script Filter above, but using XML instead of JSON.</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>85074F03-8B76-454E-BFD1-085362581485</key>
		<dict>
			<key>note</key>
			<string>Post notification with the final timer variable</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8BF0B269-ABA5-497E-9318-67DD9C95E382</key>
		<dict>
			<key>note</key>
			<string>-- JSON Version --
This Script Filter requests for the script to be re-run 1 second after completion.</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8CD0D56D-79EE-4504-9D82-FB59EA00A61D</key>
		<dict>
			<key>note</key>
			<string>Show debugger to see output from Script Filter</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>9B500F53-4041-4904-8162-015DEDE7DD46</key>
		<dict>
			<key>note</key>
			<string>-- JSON Version --
This Script Filter sets a variable which is available to subsequent runs in the session. In this case, the variable is used to count the number of runs.</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D3E29DF5-EAEC-4E27-BBE6-A7FF6FCD4824</key>
		<dict>
			<key>note</key>
			<string>-- XML Version --
Same as Script Filter above, but using XML instead of JSON.</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
