<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.david.chaining</string>
	<key>connections</key>
	<dict>
		<key>2B7AA497-AEE0-4820-B7AF-64BD75319C68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC101803-2408-48A3-B730-BFBF9E34494B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>511471B7-89E6-4829-8596-0DC2F4FA520B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E970AB2B-1CD7-42DD-A2CF-EC4163365730</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DFA01AB-D852-4E31-B5F6-84FAB0425234</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B7AA497-AEE0-4820-B7AF-64BD75319C68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95A79B2B-9BFF-4CB0-91D1-5467192BADF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFD44526-5304-4242-B240-A8C877DCB3EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CFD44526-5304-4242-B240-A8C877DCB3EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA2E0519-CFD9-4B5F-94CC-F5E8080A1036</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2FFC546-9B3B-4CFF-921E-7679E8C0F4E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EB37A819-F433-442A-8D1D-CE1C23F3D287</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F835EB81-A8C4-49D2-A610-C5D32E01772D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F05B78CA-8B86-421A-ABFE-91CCF671F462</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>511471B7-89E6-4829-8596-0DC2F4FA520B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Ferguson</string>
	<key>description</key>
	<string>Workflow for demonstrating how to linklink or reuse script filters</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Using Script Filters</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>demo1</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>cat &lt;&lt; CODE
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
&lt;item uid="demo" arg="{query}" valid="yes"&gt;
&lt;title&gt;First Name&lt;/title&gt;
&lt;subtitle&gt;Enter your first name&lt;/subtitle&gt;
&lt;icon&gt;icon.png&lt;/icon&gt;
&lt;/item&gt;
&lt;/items&gt;
CODE</string>
				<key>subtext</key>
				<string>Multiple sript filters</string>
				<key>title</key>
				<string>Demo 1</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DFA01AB-D852-4E31-B5F6-84FAB0425234</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "demostep2 "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>AC101803-2408-48A3-B730-BFBF9E34494B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>if [ -f "saved.txt" ]; then
	rm saved.txt
fi

in=$(echo "{query}" | tr -d "\\")

echo "$in" &gt; saved.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B7AA497-AEE0-4820-B7AF-64BD75319C68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>demostep2</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>cat &lt;&lt; CODE
&lt;?xml version="1.0"?&gt;
&lt;items&gt;
&lt;item uid="demo" arg="{query}" valid="yes"&gt;
&lt;title&gt;Last name&lt;/title&gt;
&lt;subtitle&gt;Enter your last name&lt;/subtitle&gt;
&lt;icon&gt;icon.png&lt;/icon&gt;
&lt;/item&gt;
&lt;/items&gt;
CODE</string>
				<key>subtext</key>
				<string>Multiple script filters</string>
				<key>title</key>
				<string>Demo 1</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F05B78CA-8B86-421A-ABFE-91CCF671F462</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>data=$(cat saved.txt)
echo "$data {query}"
rm saved.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>511471B7-89E6-4829-8596-0DC2F4FA520B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Output</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E970AB2B-1CD7-42DD-A2CF-EC4163365730</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Output</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F835EB81-A8C4-49D2-A610-C5D32E01772D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>demo2</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$in = "{query}";

if ( substr_count( $in, '►' ) == 0 ):
	$w-&gt;result( 'demo', $in, 'First name: '.$in, 'Enter your first name', 'icon.png', 'no', $in. ' ► ' );
elseif ( substr_count( $in, '►' ) == 1 ):
	$words = explode( '►', $in );
	$w-&gt;result( 'demo', $in, 'Last name: '.end( $words ), 'Enter your last name', 'icon.png', 'no', $in. ' ► ' );
elseif ( substr_count( $in, '►' ) == 2 ):
	$words = explode( '►', $in );
	$w-&gt;result( 'demo', $in, 'Title: '. end( $words ), 'Enter your title', 'icon.png', 'yes', $in. ' ► ' );
endif;

echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Reuse single script filter with delimiters</string>
				<key>title</key>
				<string>Demo 2</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EB37A819-F433-442A-8D1D-CE1C23F3D287</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Output</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA2E0519-CFD9-4B5F-94CC-F5E8080A1036</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>demo3</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$in = "{query}";

$step1 = ( file_exists( 'step1.txt' ) ) ? file_get_contents( 'step1.txt' ) : false;
$step2 = ( file_exists( 'step2.txt' ) ) ? file_get_contents( 'step2.txt' ) : false;
$step3 = ( file_exists( 'step3.txt' ) ) ? file_get_contents( 'step3.txt' ) : false;

if ( !$step1 ): // no data saved for step 1
	$w-&gt;result( 'demo', $in, 'First name: '.$in, 'Enter your first name', 'icon.png', 'yes' );
elseif ( !$step2 ): // no data saved for step 2
	$w-&gt;result( 'demo', $in, 'Last name: '.$in, 'Enter your last name', 'icon.png', 'yes' );
elseif ( !$step3 ): // no data saved for step 3
	$w-&gt;result( 'demo', $in, 'Title: '.$in, 'Enter your title', 'icon.png', 'yes' );
endif;

echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Reuse single script filter without delimiters</string>
				<key>title</key>
				<string>Demo 3</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95A79B2B-9BFF-4CB0-91D1-5467192BADF2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>require('workflows.php');
$w = new Workflows();

$in = trim( "{query}" );

$step1 = ( file_exists( 'step1.txt' ) ) ? file_get_contents( 'step1.txt' ) : false;
$step2 = ( file_exists( 'step2.txt' ) ) ? file_get_contents( 'step2.txt' ) : false;
$step3 = ( file_exists( 'step2.txt' ) ) ? $in : false;

if ( !$step1 ):
	file_put_contents( 'step1.txt', $in );
elseif ( !$step2 ):
	file_put_contents( 'step2.txt', $in );
elseif ( $step3 ):
	unlink( 'step1.txt' );
	unlink( 'step2.txt' );
	echo "$step1 $step2 $step3";
endif;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CFD44526-5304-4242-B240-A8C877DCB3EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "" then
	tell application "Alfred 2" to search "demo3 "
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>D2FFC546-9B3B-4CFF-921E-7679E8C0F4E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B7AA497-AEE0-4820-B7AF-64BD75319C68</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>511471B7-89E6-4829-8596-0DC2F4FA520B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7DFA01AB-D852-4E31-B5F6-84FAB0425234</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>95A79B2B-9BFF-4CB0-91D1-5467192BADF2</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>AC101803-2408-48A3-B730-BFBF9E34494B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CA2E0519-CFD9-4B5F-94CC-F5E8080A1036</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>CFD44526-5304-4242-B240-A8C877DCB3EA</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>D2FFC546-9B3B-4CFF-921E-7679E8C0F4E5</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>E970AB2B-1CD7-42DD-A2CF-EC4163365730</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EB37A819-F433-442A-8D1D-CE1C23F3D287</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>F05B78CA-8B86-421A-ABFE-91CCF671F462</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F835EB81-A8C4-49D2-A610-C5D32E01772D</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>dferg.us</string>
</dict>
</plist>
