/*
Intended to be used with hackervision. Changes a few colors and makes the sidebar collapse
*/

.nH.w-asV.aiw {
    margin-bottom:0 !important;
}

.an6{
  margin:9px;
}

.nH.oy8Mbf.nn.aeN  {
    position: absolute !important;
    top: 60px !important;
    left: -198px !important;
    border-right: 1px solid #ddd !important;
    z-index: 10 !important;
    background: White !important;
    transition:all .2s ease-out !important;
    width:209px !important;
}

.nH.oy8Mbf.nn.aeN:hover {
    left: 0 !important;
    z-index: 10 !important;
}

.akc.lKgBkb {
  transition: height .2s ease-out;
}

body>div>.nH>.nH>.nH>.no>.nH.nn:nth-child(2){
  width: 99% !important;
  top:60px !important;
  margin-left: 15px !important;
}

.zF{
  color: #0099FF;
}

.x5{
  color: #0099FF;
}

.Cp b {
  color: #0099FF;
}
