# Global Python 3 packages
# Usage: pip3 install -r python3-requirements.txt

jupyter
# TODO: the ipython-sql project
# ipython-sql

#virtualenv management
virtualenvwrapper

#show pip dependency tree
pipdeptree

#Natual datetime parsing
py-dateutil

#Installs `py` command, for easier python 1-liners
pythonpy
