# Global Python 2 packages
# Usage: pip install -r python-requirements.txt

#Graphical debugger
pudb

#YAML support
pyaml

#virtualenv management
virtualenvwrapper

#Natual datetime parsing
py-dateutil

#Installs `py` command, for easier python 1-liners
pythonpy

#ipython + bpython. Great if you can get it to work
bipython